* {
    margin: 0;
    padding: 0;
}

.tab ul {
    list-style: none;
    overflow: hidden;
}

.tab li {
    box-sizing: border-box;
    width: 100px;
    height: 45px;
    padding: 0;
    margin: 0;
    float: left;
    line-height: 45px;
    text-align: center;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    cursor: pointer;
}

.tab li:first-child {
    border-left: 1px solid #000;
}

.tab ul li.active {
    background-color: red;
    opacity: 0.5;
}

.tab div {
    width: 500px;
    height: 300px;
    display: none;
    text-align: center;
    line-height: 300px;
    font-size: 30px;
    border: 1px solid #000;
    border-top: 0;
}

.tab div img {
    width: 500px;
    height: 300px;
}

.tab div.current {
    display: block;
}