<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>watch</title>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <div class="content">
        <input type="text" v-model='firstName'><br>
        <input type="text" v-model='lastName'>
        <div v-cloak>{{fullName}}</div>
    </div>
    <script src="js/jquery-1.12.4.js"></script>
    <script src="js/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '.content',
            data: {
                firstName: '战',
                lastName: '肖',
                // fullName: '肖战'
            },
            computed: {
                fullName: function() {
                    return this.lastName + '' + this.firstName
                }
            },
            watch: {
                // firstName: function(val) {
                //     this.fullName = this.lastName + '' + val;
                // },
                // lastName: function(val) {
                //     this.fullName = val + '' + this.firstName;
                // }

            }
        });
    </script>
</body>

</html>